 /* палітра кольорів
   заголовки #212121 
   текст #757575
   акцент #2196F3
   bgc секції #2F303A
   білий колір тексту та main bgc #FFFFFF
   bgc секції #F5F4FA
   footer commynic color color: rgb(255, 255, 255, 60%);
   */
:root {
    --white-color: #FFFFFF;
    --title-color: #212121;
    --text-color: #757575;
    --accent-color: #2196F3;
}   
/* Загальні */
body {
 background-color: var(--white-color);
 color: var(--text-color);
 font-family: "Roboto", sans-serif;
 font-size: 14px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
.title {
    color: var(--title-color) ;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px ;
}
h2 {
    font-size: 36px;
    font-weight: 700;
}
button {
    font-family: inherit;
}
/* хедер */
.header-logo{
    color: #000000;
}
.header-logo-color,
.footer-logo-color
{
    color: var(--accent-color);
}
.header-nav a{
    color: var(--title-color);
}
.header-nav a:hover,
.header-nav a:focus{
    color: var(--accent-color);
}
.link.current {
    color: var(--accent-color);  
}
.header-communication a {
    color: var(--text-color);
}
.header-communication a:hover,
.header-communication a:focus {
    color: var(--accent-color);
}
.header-nav,
.header-communication {
    font-weight: 500;
}

/* герой */
.hero {
    background-color: #2F303A ;
}
.hero-title {
    color: var(--white-color);
    font-size: 44px;
    letter-spacing: 0.6px;
    font-weight: 900;
    line-height: 1.36;
}
.button {
    color:var(--white-color);
    background-color: var(--accent-color);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.6px;
    line-height: 1.88;
    cursor: pointer;
}
/*переваги  */
.features-header{
    font-weight: 700;
}
.features-text {
    font-weight: 400;
    line-height: 1.71;
}
/* робота */

/* команда */
.team {
    background-color: #F5F4FA;
}
.team-item>.title,
.team-item>p {
    font-size: 16px;
}
.team-item>.title {
    font-weight: 500;
}
.team-item>p {
    font-weight: 400;
}

/* футер */
.footer-logo {
    color: var(--white-color);
}

.footer {
    background-color: #2F303A ;
}
.footer address{
    color: var(--white-color);
}
.footer-communication a{
    color: rgb(255, 255, 255, 60%) ;
}
.footer-communication a:hover,
.footer-communication a:focus{
    color:var(--accent-color) ;
}
.footer>address,
.footer-communication {
    font-weight: 400;
    line-height: 1.71;
}
address {
    font-style: normal;
}


/* portfolio */
.button-primary {
    color: var(--title-color);
    background-color: #F5F4FA;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.3px;
    cursor: pointer;
}
.button-primary:hover,
.button-primary:focus,
.button-primary:active {
    color: var(--white-color);
    background-color: var(--accent-color);
}


.examples-menu .title {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.6px;
}
.examples-menu p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.88;
    letter-spacing: 0.3px;
}